DB_HOST=host name
DB_USER=user name
DB_PASSWORD=db password
DB_NAME=db name
DB_PORT=db port
PORT=3000
JWT_SECRET=your secret key

EMAIL_USER=email@gmail.com
EMAIL_PASS=email pass
EMAIL_NAME="Prashant Chaudhary"
STRIPE_SECRET_KEY=secret key
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
